<section class="clients section">
  <div class="clients-container container">
    <h2 class="clients-subtitle subtitle">What Clients Say</h2>

    <p class="clients-slogan slogan">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>

    <ul class="clients-menu">
      <li class="clients-menu-item">
        <ul class="clients-items">
          <li class="clients-items-item">
            <svg class="group" width="106" height="18">
              <use href="./img/clients/icons.svg#icon-stars"></use>
            </svg>

            <p class="clients-text text">
              Product helps you see how many more days you need to work to reach
              your financial goal.
            </p>
          </li>

          <li class="clients-wrap-item">
            <img
              class="clients-img-profession"
              src="./img/clients/avatar_1.png"
              alt=""
              width="50"
              height="50"
            />

            <div class="clients-wrap">
              <p class="clients-wahid">Wahid Ari</p>
              <p class="clients-profession">Designer</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="clients-menu-item">
        <ul class="clients-items">
          <li class="clients-items-item">
            <svg class="group" width="106" height="18">
              <use href="./img/clients/icons.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="clients-items-item">
            <p class="clients-text text">
              Product helps you see how many more days you need to work to reach
              your financial goal.
            </p>
          </li>

          <li class="clients-wrap-item">
            <img
              class="clients-img-profession"
              src="./img/clients/avatar_2.png"
              alt=""
              width="50"
              height="50"
            />
            <div class="clients-wrap">
              <p class="clients-wahid">Wahid Ari</p>
              <p class="clients-profession">Designer</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="clients-menu-item">
        <ul class="clients-items">
          <li class="clients-items-item">
            <svg class="group" width="106" height="18">
              <use href="./img/clients/icons.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="clients-items-item">
            <p class="clients-text text">
              Product helps you see how many more days you need to work to reach
              your financial goal.
            </p>
          </li>

          <li class="clients-wrap-item">
            <img
              class="clients-img-profession"
              src="./img/clients/avatar_3.png"
              alt=""
              width="50"
              height="50"
            />

            <div class="clients-items-profession">
              <p class="clients-wahid">Wahid Ari</p>
              <p class="clients-profession">Designer</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
