<header class="header section">
    <div class="container header-container">
        <a href="./index.html" class="logo">
            <svg class="burger-icon" width="24" height="24">
                <use href="/img/header/icons.svg#icon-logo"></use>
            </svg>Product
        </a>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item">
                    <a href="./index.html" class="header-nav-link current">Product
                        
                    </a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="./customers.html">Customers</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="./pricing.html">Pricing</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="./pricing.html">Resources</a>
                </li>
            </ul>
        </nav>
        <ul class="header-btn-list">
            <li class="header-btn-item">
                <button class="header-btn btn" type="button">Sign In</button>
            </li>
            <li class="header-btn-item">
                <button class="header-btn btn" type="button">Sign Up</button>
            </li>
        </ul>
        <button class="burger-btn btn" type="button">
            <svg class="burger-icon" width="24" height="24">
                <use href="/img/header/icons.svg#icon-burger"></use>
            </svg>
        </button>
     
        <div class="mob-menu">
            <div class="container mob-menu-container">
        
            <button class="menu-close-btn" type="button">
                <svg class="menu-close-icon" width="8" height="8">
                    <use href="./img/header/icons.svg#icon-close"></use>
                </svg>
            </button>
            <nav class="mob-nav">
                <ul class="mob-menu-list">
                    <li class="mob-menuitem">
                        <a href="./index.html" class="mob-menu-nav-link">Product</a>
                    </li>
                    <li class="mob-menu-item">
                        <a class="mob-menu-link" href="./customers.html">Customers</a>
                    </li>
                    <li class="mob-menu-item">
                        <a class="mob-menu-link current" href="./pricing.html"></a>Pricing
                        </a>
                    </li>
                    <li class="mob-menu-item">
                        <a class="mob-menu-link" href="./pricing.html">Resources</a>
                    </li>
                </ul>
                <ul class="mob-btn-list">
                    <li class="mob-btn-item">
                        <button class="mob-btn btn" type="button">Sign In</button>
                    </li>
                    <li class="mob-btn-item">
                        <button class="mob-btn btn" type="button">Sign Up</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
