<section class="hero section">
  <div class="container hero-container">
    <div class="hero-wpap">
      <h1 class="title-page">Work at the speed of thought</h1>
      <p class="hero-text text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <button class="hero-btn btn btn-primary" type="button">
            Get started
          </button>
          <button class="hero-btn btn btn-secondary" type="button">
            <svg class="hero-icon-btn" width="20" height="18">
              <use href="./img/hero/icons.svg#icon-play"></use></svg
            >Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <svg class="icon" width="610" height="555">
      <use href="/img/hero/icons.svg#icon-amico"></use>
    </svg>
  </div>
</section>
