<section class="management section">
  <div class="management-container container">
    <ul class="management-menu">
      <li class="management-menu-item">
        <ul class="management-items">
          <li class="management-items-item">
            <p class="management-slogan">Effortless Validation for</p>
            <h3 class="management-heading heading">Management</h3>
          </li>
          <li class="management-items-item">
            <p class="management-text text">
              The Myspace page defines the individual, his or her
              characteristics, traits, personal choices and the overall
              personality of the person.
            </p>
          </li>
          <li class="management-items-item">
            <h4 class="management-headline headline">Accessory makers</h4>
            <p class="management-text text">
              While most people enjoy casino gambling, sports betting, lottery
              and bingo playing for the fun
            </p>
          </li>

          <li class="management-items-item">
            <h4 class="management-headline headline">Alterationists</h4>
            <p class="management-text text">
              If you are looking for a new way to promote your business that
              won't cost you more money,
            </p>
          </li>
        </ul>

        <svg class="management-img" width="540" height="500">
          <use href="./img/management/icons.svg#icon-amico_1"></use>
        </svg>
      </li>
      <li class="management-menu-item">
        <svg class="" width="540" height="500">
          <use href="./img/management/icons.svg#icon-amico_2"></use>
        </svg>
        <ul class="management-items">
          <li class="management-items-item">
            <p class="management-slogan">Easier decision making for</p>
            <h3 class="management-heading">Customer Support</h3>
          </li>
          <li class="management-items-item">
            <p class="management-text">
              The Myspace page defines the individual, his or her
              characteristics, traits, personal choices and the overall
              personality of the person.
            </p>
          </li>
          <li class="management-items-item customer">
            <div class="click-box">
              <svg class="icon-click" width="16" height="12">
                <use href="./img/management/icons.svg#icon-click"></use>
              </svg>
            </div>
            <p class="management-text">
              Never worry about overpaying for your energy again.
            </p>
          </li>
          <li class="management-items-item customer">
            <div class="click-box">
              <svg class="icon-click" width="16" height="12">
                <use href="./img/management/icons.svg#icon-click"></use>
              </svg>
            </div>

            <p class="management-text">
              We will only switch you to energy companies that we trust and will
              treat you right
            </p>
          </li>
          <li class="management-items-item customer">
            <div class="click-box">
              <svg class="icon-click" width="16" height="12">
                <use href="./img/management/icons.svg#icon-click"></use>
              </svg>
            </div>
            <p class="management-text">
              We track the markets daily and know where the savings are.
            </p>
          </li>
        </ul>
      </li>
      <li class="management-menu-item">
        <ul class="management-items">
          <li class="management-items-item">
            <p class="management-slogan">Optimization for</p>
            <h3 class="management-heading management-heading">Collaborative</h3>
          </li>
          <li class="management-items-item">
            <p class="management-text text">
              Few would argue that, despite the advancements of feminism over
              the past three decades, women still face a double standard when it
              comes to their behavior.
            </p>
          </li>
          <li class="management-items-item">
            <h4 class="management-headline headline">Accessory makers</h4>
            <p class="management-text text">
              While most people enjoy casino gambling, sports betting, lottery
              and bingo playing for the fun
            </p>
          </li>
          <li class="management-items-item">
            <h4 class="management-headline">Alterationists</h4>
            <p class="management-text text">
              If you are looking for a new way to promote your business that
              won't cost you more money,
            </p>
          </li>
        </ul>
        <svg class="" width="540" height="500">
          <use href="./img/management/icons.svg#icon-amico_3"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
