<section class="price section">
  <div class="price-container container">
    <h2 class="price-subtitle subtitle">Price Table</h2>

    <p class="price-slogan slogan">We offer competitive price</p>

    <ul class="price-menu">
      <li class="price-menu-item">
        <h3 class="price-heading heading">Free</h3>

        <div class="price-box">
          <span class="price-number">0</span><span class="price-symbol">$</span>
          <p class="price-text">Per / month</p>
        </div>

        <ul class="price-items">
          <li class="price-items-item">
            <p class="price-text text">Only 2 Operators</p>
          </li>
          <li class="price-items-item">
            <p class="price-text text">Notifications</p>
          </li>

          <li class="price-items-item">
            <p class="price-text text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>

      <li class="price-menu-item">
        <h3 class="price-heading standart">Standard</h3>

        <div class="price-box">
          <span class="price-number">5</span><span class="price-symbol">$</span>
          <p class="price-text">Per / month</p>
        </div>

        <ul class="price-items">
          <li class="price-items-item">
            <p class="price-text text">5+ Operators</p>
          </li>

          <li class="price-items-item">
            <p class="price-text text">Notifications</p>
          </li>

          <li class="price-items-item">
            <p class="price-text text">Landing Pages</p>
          </li>
        </ul>

        <button class="price-btn" type="button">Order Now</button>
      </li>

      <li class="price-menu-item">
        <h3 class="price-heading heading">Premium</h3>

        <div class="price-box">
          <span class="price-number">10</span
          ><span class="price-symbol">$</span>
          <p class="price-text">Per / month</p>
        </div>

        <ul class="price-items">
          <li class="price-items-item">
            <p class="price-text text">10+ Operators</p>
          </li>

          <li class="price-items-item">
            <p class="price-text text">Notifications</p>
          </li>

          <li class="price-items-item">
            <p class="price-text text">Landing Pages</p>
          </li>
        </ul>

        <button class="price-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
