<section class="strategy section">
  <div class="strategy-container container">
    <h2 class="strategy-subtitle">Contents Strategies</h2>

    <p class="strategy-text-subtitle">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>

    <ul class="strategy-menu">
      <li class="strategy-item">
        <img
          class="strategy-img"
          srcset="./img/strategies/image-1.jpg, ./img/strategies/image-1@2x.jpg"
          width="350"
          height="185"
        />

        <p class="strategy-text text">
          By <span class="bold">Wahid Ari</span> | 03 March 2019
        </p>

        <h3 class="strategy-heading">
          Increasing Prosperity With Positive Thinking
        </h3>
      </li>

      <li class="strategy-item">
        <img
          class="strategy-img"
          srcset="./img/strategies/image-2.jpg, ./img/strategies/image-2@2x.jpg"
          alt=""
          width="350"
          height="185"
        />

        <p class="strategy-text text">
          By <span class="bold">Wahid Ari</span> | 03 March 2019
        </p>

        <h3 class="strategy-heading heading">
          <span class="color-text"
            >Motivation Is The First Step To Success</span
          >
        </h3>
      </li>

      <li class="strategy-item">
        <img
          class="strategy-img"
          srcset="./img/strategies/image-3.jpg, ./img/strategies/image-3@2x.jpg"
          alt=""
          width="350"
          height="185"
        />
        <p class="strategy-text text">
          By <span class="bold">Wahid Ari</span> | 03 March 2019
        </p>

        <h3 class="strategy-heading">
          Success Steps For Your Personal Or Business
        </h3>
      </li>
    </ul>
  </div>
</section>
