body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
  background: #fff;
}

section {
  margin-bottom: 100px;
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}

.text {
  line-height: 1.63;
  color: #22343d;
}
