body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
  background: #fff;
}

section {
  margin-bottom: 100px;
}
.container {
  width: 1150px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}

.text {
  line-height: 1.63;
  color: #22343d;
}
