.header-container {
  min-width: 411px;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 154px;
  padding: 21px 0;
}

.header-nav,
.header-btn-list {
  display: none;
}

.burger-btn {
  padding: 0;
  border: 2px solid #173a56;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.burger-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  width: 0.9em;
}
.mob-menu {
}
.mob-menu-container {
}
.menu-close-btn {
}
.menu-close-icon {
}
.mob-nav {
}
.mob-menu-list {
}
.mob-menuitem {
}
.mob-menu-nav-link {
}
.mob-menu-item {
}
.mob-menu-link {
}
.mob-btn-list {
}
.mob-btn-item {
}
.mob-btn {
}
