.header-container {
  display: flex;
  align-items: center;
  padding: 15px;

  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 154px;
  padding: 17px 0;
}

. .header-nav {
  display: none;
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
}
.current {
}
.header-btn-list {
}
.header-btn-item {
}
.header-btn {
}
.btn {
}
.burger-btn {
}
.mob-menu {
}
.mob-menu-container {
}
.menu-close-btn {
}
.menu-close-icon {
}
.mob-nav {
}
.mob-menu-list {
}
.mob-menuitem {
}
.mob-menu-nav-link {
}
.mob-menu-item {
}
.mob-menu-link {
}
.mob-btn-list {
}
.mob-btn-item {
}
.mob-btn {
}
