.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 22px;
  margin-right: 237px;
  padding: 24px 0;
}

.header-nav {
  margin-right: 73px;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-link {
  line-height: 1.75;
  color: #22343d;
  display: block;
  padding: 26px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #355b7a;
}

.current {
  font-weight: 600;
}

.header-btn-list {
  display: flex;
  gap: 21px;
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover,
.header-btn:focus {
  color: #fff;
  background-color: #02897a;
  border-color: transparent;
}
