.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-bottom: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 21px 0;
}

.header-nav,
.header-btn-list {
  display: none;
}

.burger-btn {
  padding: 0;
  background-color: #fff;
}

.burger-icon {
  display: block;
  fill: #173a56;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    margin-right: 73px;
  }

  .header-nav-list {
    display: flex;
    gap: 30px;
  }

  .header-nav-link {
    line-height: 1.75;
    color: #22343d;
    display: block;
    padding: 26px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #355b7a;
  }

  .current {
    font-weight: 600;
  }

  .header-btn-list {
    display: flex;
    gap: 21px;
  }

  .header-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus {
    color: #fff;
    background-color: #02897a;
    border-color: transparent;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 15px 32px;
  }
}

.mob-menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  transform: translateY(-100%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-container {
}
.menu-close-btn {
}
.menu-close-icon {
}
.mob-nav {
}
.mob-menu-list {
}
.mob-menuitem {
}
.mob-menu-nav-link {
}
.mob-menu-item {
}
.mob-menu-link {
}
.mob-btn-list {
}
.mob-btn-item {
}
.mob-btn {
}
